<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <!-- Console Appender -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{yyyy-MMM-dd HH:mm:ss a}  %-5level %logger{36} - %msg%n" />
    </Console>

  </Appenders>
  <Loggers>
    <!-- Log everything in hibernate 
    <logger name="org.hibernate.type" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="console" />
    </logger>
	-->
 
    <Root level="error">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>